@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-color: #caf0f8;
  font-family: 'Open Sans', sans-serif;
  color: #023e8a;
  font-size: 17px;
  line-height: 1.5;
 }


 h1, h2 {
  color: #03045e;
  font-family: 'Roboto', sans-serif;
  line-height: 2.0;
  text-align: center;
 }


 h1 {
  font-size: 35px;
 }

 h2 {
  font-size: 25px;
 }

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #00b4d8;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 5px;
  font-size: 20 px;
  margin: 0 auto;
}

.list-inline > li:hover {
  color: rgb(50, 50, 50);
}

div {
  display: block;
}

.card-white {
  background-color: white;
  width: 700px;
  padding: 30px;
  margin: 40px auto;
  border-radius: 10px;
  text-align: center;
}
